{% extends 'core/base.html' %}

{% block title %} Services {% endblock title %}

{% block content %}
<div class="container mt-5 px-5">
    <h1 class="mb-5 border-bottom border-dark">SERVICES</h1>

    <div class="text-center row mb-4">
        <div class="col-sm-4">
            <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-2"></i>
            <h3>SEO</h3>
            <p>Experienced in utilizing SEO techniques and strategies to optimize websites.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-palette fa-2x mb-2"></i>
            <h3>Web Design</h3>
            <p>Skilled in utilizing modern design principles, typography, and color theory.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-2"></i>
            <h3>Web Development</h3>
            <p>Experienced in building secure and scalable web applications, integrating APIs.</p>
        </div>
    </div>
    <div class="text-center row mb-4">
        <div class="col-sm-4">
            <i class="fa-brands fa-android fa-2x mb-2"></i>
            <h3>Android</h3>
            <p>Skilled in utilizing Android SDK to create interactive mobile applications. </p>
        </div>
        <div class="col-sm-4">
            <i class="fa-brands fa-apple fa-2x mb-2"></i>
            <h3>iOS</h3>
            <p>Strong understanding of iOS development lifecycle, including requirements analysis.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-rectangle-ad fa-2x mb-2"></i>
            <h3>Advertising</h3>
            <p>Proficient in utilizing advertising platforms, such as Google Ads and Facebook Ads.</p>
        </div>
    </div>
    <div class="text-center row mb-4">
        <div class="col-sm-4">
            <i class="fa-solid fa-database fa-2x mb-2"></i>
            <h3>Hosting</h3>
            <p>Skilled in managing server environments and deploying websites</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-pencil fa-2x mb-2"></i>
            <h3>Logo Design</h3>
            <p>Proficient in industry-standard design software, such as Adobe Illustrator.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-brands fa-git-alt fa-2x mb-2"></i>
            <h3>Version Control</h3>
            <p>Skilled in using Git, SVN, or other version control tools to maintain code integrity.</p>
        </div>
    </div>
</div>
{% endblock content %}