/* Font */

.st-font{
    font-family: 'Satisfy', cursive;
}

html, body{
    height: 100%;
}

.container-fluid{
    min-height: 100%;
}

.justify{
    text-align: justify;
}

/* Service subtitle color */


/* sidebar */
a.nav-link{
    color: whitesmoke;
}

a.nav-link:hover{
    color: rgb(20, 20, 19);
    background-color: whitesmoke;
}

a.nav-link.active{
    color: rgb(20, 20, 19);
    background-color: whitesmoke;
    font-weight: bold;
}